{% extends "base.html" %}


{% block content %}
<div class="alert alert-light" role="alert">
    Отель Байкал оснащен современнейшими удобствами и оборудованием, включая услуги для проведения деловых встреч и
    мероприятий.
</div>
<p>
    Все гости по достоинству оценят интерьеры, превосходную кухню и уникальную культуру обслуживания, отличающуюся
    профессионализмом,
    доброжелательностью и тактом.
</p>
<p>
    Бизнес-отель еще никогда не был таким гостеприимным и комфортным. В гостинице Байкал предусмотрено все для того,
    чтобы Вы могли продуктивно работать, хорошо отдыхать и интересно проводить свободное время:
<ul class="list-group">
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">3 ресторана: Хрустальный, Барин и
        Spaten Haus</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Бизнес-зона</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Фитнес-центр (бассейн, тренажерный
        зал)</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Бесплатная парковка (места по
        наличию)</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Бесплатная станция зарядки
        электромобилей</a>
</ul>

Наш отель идеально подходит для деловых путешественников нового поколения, разделяющих наше кредо: мы создаем эталон
успешных деловых поездок.

<br>
<p>Расположение</p>
<p>
350000, Россия, Краснодарский край, г. Краснодар, ул. Красная, 109
Байкал расположен в самом центре города Краснодара рядом с Мэрией города, Академическим
Театром Драмы, парками и достопримечательностями города.
</p>
<br>
<p>Транспорт</p>
<ul class="list-group">
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">Расстояние до Международного
        Аэропорта Пашковский составляет 15 км, время в пути на машине от 20 минут.</a>
    <a href="#" class="list-group-item list-group-item-action list-group-item-light">От железнодорожного вокзала
        «Краснодар-1» до отеля 6 км, от 10 минут на машине.</a>
</ul>


</p>
{% endblock %}