{% extends "base.html" %}


{% block content %}
<div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="https://avatars.mds.yandex.net/get-altay/5538812/2a000001872dc06d6ad7caafb59e552ac56d/XXXL"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Комната 1</h5>
                <p class="card-text">Комната с двумя кроватями и шикарным видом из окна</p>
                <a href="/room/1" class="btn btn-primary">Забронировать</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100" style="width: 18rem;">
            <img src="https://avatars.mds.yandex.net/get-altay/4377463/2a0000017c7111fda39b3435d9f43844dd39/XXXL"
                class="card-img-top h-100" alt="...">
            <div class="card-body">
                <h5 class="card-title">Комната 2</h5>
                <p class="card-text">Комната с королевской кроватью и минибаром</p>
                <a href="/room/2" class="btn btn-primary">Забронировать</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100" style="width: 18rem;">
            <img src="https://avatars.mds.yandex.net/get-altay/212783/2a000001886689f890f1ce484e42290bbfbf/XXXL"
                class="card-img-top h-100" alt="...">
            <div class="card-body">
                <h5 class="card-title">Комната 3</h5>
                <p class="card-text">Бюджетный вариант с двухспальной кроватью и телевизором</p>
                <a href="/room/3" class="btn btn-primary">Забронировать</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100" style="width: 18rem;">
            <img src="https://avatars.mds.yandex.net/get-altay/8072647/2a000001879e9abd8b934eccc925dbf7972e/XXXL"
                class="card-img-top h-100" alt="...">
            <div class="card-body">
                <h5 class="card-title">Комната 4</h5>
                <p class="card-text">Семейный вариант для 7 гостей</p>
                <a href="/room/4" class="btn btn-primary">Забронировать</a>
            </div>
        </div>
    </div>
</div>





{% endblock %}